body{
     background-color: #bef1fa;
}

label{
  font-weight: 600;
}

.cus_btn{
    height:200px;
    width:100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adm_btn{
    height:500px;
    width:100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar, footer{
       background-color:#8fe8f8;
}

.card{
    border:none
}

.navbar-toggler, .navbar-toggler:focus{
    border:none;
}

.__redirect{
    text-decoration: none;
}

.__redirect:hover{
    text-decoration: underline;
}

.fp{
  color: gray;
  text-decoration: none;
}

.fp:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
}

.col .card{
  width:50%
}

section {
  height: auto;
  width: 100%;
}

#home {
  background: url("bank_bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 95vh;
  position: relative;
}

.hero__section_container {
  position: absolute;
  top: 45%;
  left: 25%;
  color: white;
}

.hero__section_title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#searchInput{
  width: 30%;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}